@model UMFAdmission.Models.MultipleChoiceQuestion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MultipleChoiceQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.A)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.B)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.B)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerD)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
